<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lab_queue.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @lab_queue.date %>
</p>

<p>
  <strong>Tickets:</strong>
  <% tickets = Ticket.all %>
  <% tickets.each do |ticket| %>
    <%= ticket.inspect %>
  <% end %>
</p>

<h2>Список</h2>
<table>
  <thead>
    <tr>
      <th>№</th>
      <th>Имя</th>
      <th>Фамилия</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  	<% i = 0 %>
    <% @lab_queue.clients.each do |client| %>
      <tr>
        <% ticket = client.relationships.where(:client_id => client.id, :lab_queue_id => @lab_queue.id).first %>
        <%= ticket.inspect %>
      	<% i += 1 %>
      	<td><%= i %></td>
        <td><%= image_tag(client.photo, size: "20x20", class: "img-circle") %></td>
        <td><%= client.first_name %></td>
        <td><%= client.last_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if (session[:current_client_vkid] != nil) %>
	<h2>Войти в Очередь</h2>
	<%= form_with(model: [ @lab_queue, @lab_queue.clients.build ], local: true) do |form| %>
  		<p>
    	<%= form.submit %>
  	</p>
	<% end %>
<% else %>
  <h2>Авторизуйтесь чтобы войти в очередь</h2>
<% end %>



<% if (session[:current_client_vkid] == 140285287) %>
	<%= link_to 'Edit', edit_lab_queue_path(@lab_queue) %> |
<% end %>
<%= link_to 'Back', lab_queues_path %>
