<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lab_queue.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @lab_queue.date %>
</p>

<%= link_to 'Edit', edit_lab_queue_path(@lab_queue) %> |
<%= link_to 'Back', lab_queues_path %>
